body{
    background-color: #000;
}

.movies__list {
    margin: 0;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.movies__item {
    margin: 0 auto;
}

.movies__card {
    width: 19rem;
    text-shadow: 0 0 20px #fff, 0 0 20px #fFF;
}

.heading{
    text-shadow: 0px 0px 10px;
}

.search{
    text-shadow: 0px 0px 10px;
}

.card-img-top{
    min-height: 290px !important;
}

.link{
    text-shadow: 0 0 20px #00ff, 0 0 20px #00FF;
}
