/* img{
    vertical-align: middle;
}
.box{
    justify-content: space-between;
}
.kards{
    width: 400px !important;
}

.star{
    align-items: center;
}

.img{
    height: 220px !important;
}

.btn{
    margin-right: 11px !important;
}
.imgcalendar{
    border-radius: 10px;
    margin-right: 5px;
}

.star-img{
    margin-right:10px;
}

.desc{
    font-weight: 600;
} */

.movies__list {
    margin: 0;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.movies__item {
    margin: 0 auto;
}

.movies__card {
    width: 18rem;
}